	
[submodule "Vortex/vendor/glfw"]
	path = Vortex/vendor/glfw
	url = ../../fazilhus/glfw.git
	branch = master
[submodule "Vortex/vendor/spdlog"]
	path = Vortex/vendor/spdlog
	url = ../../fazilhus/spdlog.git
	branch = v1.x
[submodule "Vortex/vendor/imgui"]
	path = Vortex/vendor/imgui
	url = ../../fazilhus/imgui.git
	branch = docking
[submodule "Vortex/vendor/glm"]
	path = Vortex/vendor/glm
	url = ../../fazilhus/glm.git
	branch = master
[submodule "entt"]
	path = Vortex/vendor/entt
	url = ../../fazilhus/entt.git
[submodule "yaml-cpp"]
	path = Vortex/vendor/yaml-cpp
	url = ../../fazilhus/yaml-cpp.git
[submodule "Vortex/vendor/ImGuizmo"]
	path = Vortex/vendor/ImGuizmo
	url = ../../fazilhus/ImGuizmo.git
[submodule "Vortex/vendor/Box2D"]
	path = Vortex/vendor/Box2D
	url = ../../fazilhus/box2d
