[submodule "Vortex/vendor/spdlog"]
	path = Vortex/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "glfw"]
	path = glfw
	url = https://github.com/fazilhus/glfw
[submodule "Vortex/vendors"]
	path = Vortex/vendors
	url = https://github.com/fazilhus/imgui
